.headerCAM {
    width: 100%;
    
}

.headerCAM >img {
    object-fit: cover;
    width: 100%;
    
}


.neonText {
    font-size: 48px; 
    font-weight: bold; 
    color: #181318; 
    text-shadow: 
      0 0 5px #ff00ff, 
      0 0 10px #ff00ff, 
      0 0 20px #ff00ff, 
      0 0 40px #ff00ff, 
      0 0 80px #ff00ff, 
      0 0 100px #ff00ff; 
  }

  .btnCAM {
    background-color: gray;
  }