* {
  margin: 0;
  padding: 0; 
}

.profileCard {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color:azure;
  border-radius: 10px;
  margin: 0px;
}

.profileCard img {
  width: 400px ;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}
.profileCard img:hover {
  transform: scale(1.02); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

span {
  font-size: 20px;

}

