.container {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
  }
  
  .heading {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .text {
    font-size: 1.2rem;
    margin: 15px 0;
  }
  
  .skills {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .skill {
    display: flex;
    flex-direction: column; /* Иконка и название под друг другом */
    align-items: center;
    font-size: 1rem;
    margin: 10px 0;
    padding: 5px;
  }
  
  .icon {
    margin-bottom: 10px; /* Отступ между иконкой и названием */
  }
  
  .skillName {
    font-weight: bold;
  }
  
  .image {
    width: 400px;
    margin-top: 20px;
    border-radius: 8px;
  }
  