.header a {
    color:rgb(12, 14, 15);
    font-size: xx-large;
    
}

.header a:hover {
    text-decoration: underline;
}

.linkActive {
    text-decoration: underline;
    background-color: #006cd0;
    color: aliceblue !important;
    border-radius: 5px;

}