.header a {
    color:rgb(12, 14, 15);
    font-size: xx-large;
    
}

.header a:hover {
    text-decoration: underline;
}

.linkActive {
    text-decoration: underline;
    color: aliceblue !important;
    border-radius: 5px;

}

.totalAmount {
    color: rgb(187, 94, 199);
    font-size: 18px;
    font-style: oblique;
}

.headerContainer {
    width: 95%;
    display: flex;
    justify-content: space-between; 
    align-items: center;

}

.navyLinks {
    display: flex;
    gap: 20px;
  }