.catWrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 25px;
}
.buttonWrapper {
    margin-top: 20px;
}

.catCardWrapper {
    /* display: grid;
    grid-auto-flow: column; 
    grid-template-rows: repeat(3, auto); 
    gap: 10px;  */

}

