.catWrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 10px;
}
.buttonWrapper {
    margin-top: 20px;
}

.catCardWrapper {
    max-height: 1500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

