.loginContainer {
    display: flex;
    flex-direction: column;

    min-width: 210px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.errorMessage {
    color: red;
       
    font-size: 10px;
}

